#contact {
  background-color: #f8f8f8;
  padding: 60px 0;
}

.Contact {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.Contact h1 {
  font-size: 36px;
  font-weight: 700;
  color: #333;
  margin-bottom: 30px;
  display: inline-block; /* make each letter an inline-block element */
}

.Contact h1 span {
  display: inline-block;
  animation: jump 0.5s ease-in-out infinite; /* apply the animation to each letter */
}

.Contact p.quote {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.6;
  margin-bottom: 60px;
  color: #777;
}

.icons {
  display: flex;
  justify-content: center;
  font-size: 60px;
}

.icon-container {
  margin: 0 20px;
  border-radius: 50%;
  background-color: #ffffff;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.icon-container:hover{
  transform: translateY(-5px);
}

.github,
.linkedin,
.facebook,
.email {
  display: block;
  width: 50px;
  height: 50px;
  color: #93a5cf;
}

.github:hover,
.linkedin:hover,
.facebook:hover,
.email:hover {
  color: rgb(83, 57, 199);
}

/* define the animation */
@keyframes jump {
  0% {
    transform: translateY(0); /* start at normal position */
  }
  50% {
    transform: translateY(-10px); /* jump up */
  }
  100% {
    transform: translateY(0); /* return to normal position */
  }
}