#home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.homepage {
  background-image: linear-gradient(to right, #93a5cf, #e4efe9);
  color: #fff;
  width: 100%;
  height: 100%;
  padding: 2rem;
}

.name {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.quote {
  font-size: 1.5rem;
  font-style: italic;
}